*{
    box-sizing: border-box;
}

p{
    font-size: 20px;
}

header{
    background-color: chartreuse;
    padding: 20px;
    text-align: center;
    color: darkgreen;
    font-size: 40px;
}

section{
    display:  -webkit-flex;
    display: flex;
}

nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(12, 220, 78);
    padding: 25px;
    text-align: center;
    text-decoration: none;
}
img{
    padding: 15px;
    width: 450px;
}

nav ul{
    list-style: none;
    padding: 1;
}

article{
    -webkit-flex: 3;
    -ms-flex: 3;
    background: rgb(211, 124, 19);
    padding: 10px;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td{
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

table{
    background: rgb(209, 179, 10);
}

.lien-facebook{
    text-align: center;
    margin: 40px 0;
}

.lien-facebook a{
    background: #1877F2;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
}

footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

section{
    background: rgb(211, 124, 19);
}

th{
    background: rgb(10, 176, 63);
}